<!--Inicio do Form de Inclusão-->
<section class="container">
  <section class="Invoice">
      <div *ngIf="errorMessage" class="alert alert-warning">
        <strong>Atenção! </strong>{{ errorMessage }}
      </div>
        {{ formCreateVisita.valid }}
        <form #formCreateVisita="ngForm" novalidate>

          <div class="row invoice-info">
            <div class="col-xs-12">
              <p class="control-label">Dados do visitante:</p>
            </div>

            <div class="col-sm-2 col-xs-4">
              <input class="form-control" #rg name="rg" (keyup.enter)="getVisitante(rg.value)" (blur)="getVisitante(rg.value)" (keyup.enter)="onEnter(rg.value)" ngModel required maxlength="11" placeholder="RG" pattern="^[0-9]*$" autocomplete="off">
            </div>

            <div class="col-sm-6 col-xs-12">
              <input class="form-control" disabled name="nome" [(ngModel)]="nomeResp" maxlength="50" placeholder="Nome" autocomplete="off">
            </div>

            <div class="col-xs-12">
              <p class="control-label">Endereço:</p>
            </div>

            <div class="col-sm-6 col-xs-12">
              <input class="form-control" disabled name="endereco" [(ngModel)]="enderecoResp" maxlength="50" placeholder="Endereço" autocomplete="off">
            </div>

            <div class="col-sm-2 col-xs-12">
              <input class="form-control" disabled name="numero" [(ngModel)]="numeroResp" maxlength="50" placeholder="Número" autocomplete="off">
            </div>

            <div class="col-xs-12">
              <p class="control-label">Cidade:</p>
            </div>

            <div class="col-sm-6 col-xs-12">
              <app-input errorMessage="Campo obrigatório!" label="Cidade">
                <input class="form-control" disabled name="cidade" [(ngModel)]="cidadeResp" maxlength="50" placeholder="Cidade" autocomplete="off">
              </app-input>
            </div>

            <div class="col-xs-12">
              <p class="control-label">UF:</p>
            </div>
            <div class="col-sm-1 col-xs-6">
              <app-input errorMessage="Campo obrigatório!" label="UF">
                <input class="form-control" disabled name="uf" [(ngModel)]="ufResp" maxlength="2" placeholder="UF" autocomplete="off">
              </app-input>
            </div>

            <div class="col-xs-12">
              <p class="control-label">Dados do veículo:</p>
            </div>

            <div class="col-sm-2 col-xs-4">
              <input class="form-control" #placa name="placa" mask="AAA-AAAA" (keyup.enter)="getVeiculo(placa.value)" (blur)="getVeiculo(placa.value)" ngModel minlength="7" maxlength="8" placeholder="Placa" autocomplete="on">
            </div>

            <div class="col-xs-12">
              <p class="control-label">Marca:</p>
            </div>
            <div class="col-sm-4 col-xs-12">
              <input class="form-control" disabled name="marca" [(ngModel)]="veiculo.marca" maxlength="50" placeholder="Marca" autocomplete="off">
            </div>

            <div class="col-xs-12">
              <p class="control-label">Modelo:</p>
            </div>
            <div class="col-sm-4 col-xs-12">
              <input class="form-control" disabled name="modelo" [(ngModel)]="veiculo.modelo" maxlength="50" placeholder="Modelo" autocomplete="off">
            </div>

            <div class="col-xs-12">
              <p class="control-label">Ano:</p>
            </div>
            <div class="col-sm-2 col-xs-6">
              <input class="form-control" disabled name="ano" [(ngModel)]="veiculo.ano" maxlength="4" placeholder="Ano" autocomplete="off">
            </div>

            <!-- /.row -->
            </div>
              <div class="col-xs-12">
                <button class="pointer" (click)="postVisita(formCreateVisita.value)" class="btn btn-success pull-right"
                  [disabled]="!formCreateVisita.valid"><i></i> Salvar
                </button>
              </div>
        </form>
  </section>
<!--Fim do Form de Inclusão-->
</section>
