 <!-- INÍCIO DO CONTEÚDO -->
 <section class="content-header">
</section>

<section class="content">

  <div class="jumbotron welcome-jumbotron">
     <h1>Bem vindo!</h1>
     <a class="btn btn-primary btn-lg" [routerLink]="['/moradores']">Ver moradores</a>
     <a class="btn btn-primary btn-lg" [routerLink]="['/residencias']">Ver residências</a>
     <a class="btn btn-primary btn-lg" [routerLink]="['morador/novo']">Novo morador</a>
     <a class="btn btn-primary btn-lg" [routerLink]="['residencia/create']">Nova residência</a>
     <a class="btn btn-primary btn-lg" [routerLink]="['visitante/create']">Novo visitante</a>
  </div>

</section>
<!-- FIM DO CONTEÚDO -->
